// start available widgets section
.available-widgets {
  @extend .tech-stack;
  padding-bottom: 0px;
  h1 {
    text-align: center;
  }
  nav {
    max-width: 870px;
    margin: auto;
    ul {
      min-height: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media (max-width: 600px) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      padding: 0px;
      margin: 60px;
      li {
        list-style: none;
        a {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
  article {
    figure {
      border: none;
      border-radius: 5px;
      box-shadow: 0 3px 15px 0 rgba(159, 159, 159, 0.2);
      cursor: pointer;
      &:hover {
        box-shadow: 0 3px 25px 0 rgba(159, 159, 159, 0.2);
        scale: 1.02;
        transition: 0.2 ease-in-out;
      }
    }
  }
}
// end available widgets section
