// start footer
footer {
  background: $font-dark-color;
  height: 45vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  font-family: exo;
  font-size: 16px;
  .flex-container {
    display: flex;
    place-items: center;
    padding-top: 2%;
    .brand {
      margin-left: 5%;
      @media (max-width: 768px) {
        margin: 0;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      .k2-logo {
        height: 75px;
      }
      figcaption {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 7px;
        @media (max-width: 600px) {
          flex-direction: column;
        }
      }
      p {
        margin-top: 0;
      }
    }
    .services {
      margin-right: 10%;
      flex: 1;
      display: grid;
      grid-template-columns: repeat(3, auto);
      @media (max-width: 600px) {
        grid-template-columns: repeat(2, auto);
      }
      @media (max-width: 420px) {
        grid-template-columns: auto;
      }
      place-items: center start;
      grid-gap: 20px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        left: -100px;
        height: 200%;
        width: 1px;
        background-color: $font-color;
        margin: auto;
        @media (max-width: 768px) {
          display: none;
        }
      }
      a {
        text-decoration: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: color 0.3s;
        font-weight: 500;
        color: #fff;
      }
    }
  }
  .center {
    text-align: center;
    font-size: 13px;
  }
}
// end footer
