// start get-in-touch
.get-in-touch {
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 768px) {
      flex-direction: column;
      place-items: center;
    }
    padding: 5%;
    figure {
      width: 70%;
      margin: 2rem auto;
      img {
        width: 100%;
      }
    }
    form {
      width: 100%;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'name name email email' 'msg msg msg msg'
        '. . . btn';

      grid-gap: 20px;

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          'name name name name' 'email email email email'
          'msg msg msg msg' 'btn btn btn btn';
        input[type='text'] {
          grid-area: name;
        }
        input[type='email'] {
          grid-area: email;
        }
        textarea {
          grid-area: msg;
        }
        .buy-now-btn {
          grid-area: btn;
        }
      }
      input[type='text'] {
        grid-area: name;
      }
      input[type='email'] {
        grid-area: email;
      }
      input {
        height: 50px;
        border-radius: 8px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
        padding-left: 3%;
        &::placeholder {
          font-family: exo;
          font-size: 14px;
          letter-spacing: 0.18px;
          color: #b1b1b1;
        }
      }
      textarea {
        box-sizing: border-box;
        grid-area: msg;
        padding-top: 3%;
        padding-left: 3%;
        border-radius: 8px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
        &::placeholder {
          font-family: exo;
          font-size: 14px;
          letter-spacing: 0.18px;
          color: #b1b1b1;
        }
      }
      a {
        grid-area: btn;
        display: inline-block;
        text-align: center;
        min-width: 150px;
      }
    }
  }
}

// end get-in-touch
