header {
  z-index: 99999999;
  padding: 1.3rem 50px;
  opacity: 0.97;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  @media (max-width: 720px) {
    padding: 1.3rem 5px;
    height: auto;
  }
  //  start navbar section
  nav {
    height: auto;
    display: flex;
    align-items: center;
    @media (max-width: 786px) {
      flex-direction: column;
    }
    @media (max-width: 550px) {
      flex-direction: row;
    }
    // @media (min-width: 551px) {
    //   flex-direction: column;
    // }
    a {
      flex: 1;
    }
    .nav-links {
      flex: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      @media (max-width: 786px) {
        padding-left: 0;
        flex-wrap: wrap;
      }

      li {
        list-style: none;
        min-width: max-content;
        @media (max-width: 786px) {
          margin-top: 5%;
        }
      }
    }
  }
  .buy-now-btn {
    background: $btn-bg;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    transition: all 200ms linear 0s;
    text-transform: uppercase;
    &:hover {
      box-shadow: rgba(6, 160, 255, 0.24) 0px 4px 10px 0px;
    }
  }
  // end navbar section
}

.hamburger {
  align-self: flex-end;
  display: none;
  @media (max-width: 550px) {
    display: block;
  }
}

label {
  cursor: pointer;
}

input[type='checkbox'] + label {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #2c2c2c;
    margin: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
}

input[type='checkbox']:checked + label {
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}
@media (max-width: 550px) {
  input[type='checkbox']:not(:checked) ~ .nav-links {
    display: none;
  }
  input[type='checkbox']:checked ~ .nav-links {
    position: absolute;
    top: 3rem;
    bottom: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
  }
}
// end of header
