// start help & support section
.help-supp {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  line-height: 1.81;
  letter-spacing: 0.21px;
  margin: auto 70px auto 70px;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
    }
  }
  .description {
    font-weight: 500;
  }
  figure {
    img {
      width: 100%;
    }
  }
}
// end help & support section
