// start love-k2 section
.love-k2 {
  background-color: $gray-bg;
  padding: 80px 0px;
  h2 {
    text-align: center;
  }
  article {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 50px auto;
    width: 100%;
    grid-gap: 35px;
    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
    max-width: 950px;
    figure {
      display: flex;
      align-items: center;

      .image {
        max-width: 100%;
        min-width: 60px;
        margin-right: 25px;
        box-shadow: rgba(159, 159, 159, 0.16) 0px 3px 29px 0px;
        border-radius: 8px;
      }
    }
    figcaption {
      font-weight: 500;
      color: $font-dark-color;
    }
  }
  p {
    text-align: center;
    a {
      text-decoration: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      transition: color 0.3s;
      font-weight: 500;
      color: $font-active-color;
    }
  }
}
//  end love-k2 section
