// start pitch  section
.pitch {
  padding: 100px 50px;
  @media (max-width: 786px) {
    padding-top: 150px;
  }
  @media (max-width: 626px) {
    padding-top: 180px;
  }
  @media (max-width: 550px) {
    padding-top: 80px;
  }
  display: grid;
  grid-template-columns: 30rem 1fr;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding-bottom: 0px;
    text-align: center;
  }

  max-width: 90vw;
  margin: 0px auto 0px auto;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 768px) {
      align-items: center;
    }
    height: 100%;
    margin-bottom: 5%;
  }
  figure {
    img {
      width: 100%;
      background-size: cover;
    }
  }
}

// end pitch  section
