// start pricing section
.pricing {
  margin-top: 147px;
  padding-bottom: 3%;
  @media (max-width: 980px) {
    padding-left: 3%;
    padding-right: 3%;
  }
  h1 {
    text-align: center;
  }
  .grid-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    article {
      min-width: 200px;
      @media (max-width: 650px) {
        min-width: min-content;
      }
      .heading {
        font-size: 1rem;
        font-weight: bold;
        line-height: 2.78;
        background-color: #f8f8f8;
      }
      p {
        min-height: 50px;
        @media (max-width: 545px) {
          min-height: 70px;
        }
        @media (max-width: 490px) {
          min-height: 100px;
        }
        display: grid;
        place-items: center;
        border: solid 1px #d6d6d6;
        border-bottom: none;
        @media (max-width: 650px) {
          font-size: 14px;
        }
        @media (max-width: 545px) {
          font-size: 12px;
        }
        &:last-child {
          border-bottom: solid 1px #d6d6d6;
          padding: 0.5rem 0.7rem;
          @media (max-width: 786px) {
            padding: 0;
          }
          @media (max-width: 490px) {
            padding: 0;
            height: 80px;
          }
        }
        margin-top: 0;
        margin-bottom: 0;
        &:nth-child(11) {
          height: 72px;
          @media (max-width: 650px) {
            height: 100px;
          }
          @media (max-width: 400px) {
            height: 150px;
          }
        }
        .buy-now-btn {
          min-width: 70px;
          @media (max-width: 786px) {
            width: 70px;
            padding: 5px 10px;
            margin: 0;
          }
          @media (max-width: 987px) {
            font-size: 14px;
            width: 70px;
            padding: 10px 10px;
            margin: 0;
          }
          @media (max-width: 490px) {
            font-size: 12px;
            width: 60px;
            padding: 5px 10px;
            margin: 0;
          }
        }
      }
    }
    .name {
      p {
        border-right: none;
        place-items: center start;
        text-align: left;
        padding-left: 5%;
        line-height: 1.5;
        &:nth-child(11) {
          border-bottom: solid 1px #d6d6d6;
        }
      }
    }
    .developer-lisence {
      min-width: 200px;
      @media (max-width: 786px) {
        min-width: 150px;
      }
      @media (max-width: 545px) {
        min-width: 100px;
      }
      .heading {
        @media (max-width: 545px) {
          font-size: 14px;
        }
      }
      p {
        border-right: none;
      }
    }
    .enterprise-lisence {
      min-width: 200px;
      @media (max-width: 786px) {
        min-width: 150px;
      }
      @media (max-width: 545px) {
        min-width: 100px;
      }
      .heading {
        @media (max-width: 545px) {
          font-size: 14px;
        }
      }
    }
  }
}
.hidden {
  visibility: hidden;
  margin-bottom: -1px !important;
}
// end pricing section
