// start roadmap section
.roadmap {
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    article {
      color: #fff;
      padding: 10%;
      h3 {
        color: #fff;
        margin-left: 25px;
      }
      ul {
        li {
          line-height: 1.81;
        }
      }
    }
    .next {
      background-color: $font-active-color;
    }
    .backlog {
      background-color: $font-dark-color;
    }
  }
}
// end roadmap section
