// start technology stack
.tech-stack {
  padding: 80px 0px;
  .stack-title {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 490px) {
      flex-direction: column;
    }
    h2 {
      margin: 0;
    }
  }
  article {
    max-width: 1050px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    figure {
      height: 113px;
      width: 172px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid $border-color;
      border-radius: 8px;
      text-align: center;
      font-size: 15px;
    }
  }
}
// end technology stack
