// start don't-see-the-visual section

.visuals {
  padding-top: 5%;
  @media (max-width: 980px) {
    margin: auto 5%;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  .container {
    max-width: 870px;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    gap: 30px;
    text-align: center;
    section {
      height: 400px;
      min-width: 330px;
      article {
        @media (max-width: 490px) {
          min-height: 250px;
        }
      }
    }

    .integrate {
      position: relative;
      display: flex;
      place-items: center;
      article {
        padding: 0 2%;
        z-index: 1;
        width: 400px;
        height: 226px;
        border-radius: 5px;
        border: solid 1px #06a0ff;
        background-color: #fff;
        .heading {
          font-size: 20px;
          color: $font-active-color;
          font-weight: 500;
        }
        .description {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.69;
          letter-spacing: 0.21px;
        }
      }
    }
    .request {
      @media (max-width: 980px) {
        margin-top: -120px;
      }
      position: relative;
      display: flex;
      place-items: center;
      article {
        z-index: 1;
        width: 400px;
        height: 226px;
        border-radius: 5px;
        border: solid 1px #ace556;
        background-color: #fff;
        .heading {
          font-size: 20px;
          color: #9dd845;
          font-weight: 500;
        }
        .description {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.69;
          letter-spacing: 0.21px;
        }
      }
      .absolute-shape {
        transform: rotateY(360deg);
        left: 3%;
        right: 0;
        @media (max-width: 510px) {
          left: 0;
        }
      }
    }
  }
}
.absolute-shape {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 3%;
  transform: rotateY(180deg);
  z-index: 0;
  @media (max-width: 510px) {
    right: 0;
  }
  @media (max-width: 490px) {
    display: none;
  }
}
// end don't-see-the-visual section
