// start why-k2 section
.why-k2 {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
  margin: auto 0 110px 0;
  place-items: center;
  figure {
    margin-left: 0;
    @media (max-width: 768px) {
      order: 1;
    }
    @media (max-width: 650px) {
      margin: 1rem 0;
    }
    img {
      width: 100%;
    }
  }
}

// end why-k2 section
