@import url(https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,500;0,600;0,700;0,900;1,500&display=swap);
@import './variables';
@import './header';
@import './pitch';
@import './why-k2';
@import './love-k2';
@import './tech-stack';
@import './help-supp';
@import './available-widgets';
@import './visuals';
@import './roadmap';
@import './pricing';
@import './get-in-touch';
@import './footer';

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Exo, sans-serif;
  color: $font-color;
}
body {
  margin: 0;
  padding: 0;
}

.why-k2 {
  padding: 0px 50px;
}

// reuseable
.sub-heading {
  font-size: 20px;
  font-weight: 600;
  color: $font-dark-color;
}
.view-demo-btn {
  @extend .buy-now-btn;
  border-radius: 8px;
  padding: 12px 50px;
}
.heading {
  font-size: 40px;
  @media (max-width: 550px) {
    font-size: 30px;
  }
  color: $font-dark-color;
  margin-bottom: 10px;
}
.description {
  line-height: 1.8;
}
.caption {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.nav-item {
  text-decoration: none;
  color: $font-color;
  padding: 10px 20px;
  &:hover {
    background-color: rgb(236, 247, 255);
    color: rgb(6, 160, 255);
    border-radius: 4px;
    transition: 0.2s ease-in-out;
  }
}
.active {
  background-color: rgb(236, 247, 255);
  color: rgb(6, 160, 255);
  border-radius: 4px;
}

.buy-now-btn {
  background: $btn-bg;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  transition: all 200ms linear 0s;
  text-transform: uppercase;
  &:hover {
    box-shadow: rgba(6, 160, 255, 0.24) 0px 4px 10px 0px;
  }
}
