@import url(https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,500;0,600;0,700;0,900;1,500&display=swap);
header {
  z-index: 99999999;
  padding: 1.3rem 50px;
  opacity: 0.97;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
}

@media (max-width: 720px) {
  header {
    padding: 1.3rem 5px;
    height: auto;
  }
}

header nav {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 786px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 550px) {
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav .nav-links {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 786px) {
  header nav .nav-links {
    padding-left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header nav .nav-links li {
  list-style: none;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

@media (max-width: 786px) {
  header nav .nav-links li {
    margin-top: 5%;
  }
}

header .buy-now-btn, header .view-demo-btn {
  background: #06a0ff none repeat scroll 0% 0%;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
  text-transform: uppercase;
}

header .buy-now-btn:hover, header .view-demo-btn:hover {
  -webkit-box-shadow: rgba(6, 160, 255, 0.24) 0px 4px 10px 0px;
          box-shadow: rgba(6, 160, 255, 0.24) 0px 4px 10px 0px;
}

.hamburger {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
}

@media (max-width: 550px) {
  .hamburger {
    display: block;
  }
}

label {
  cursor: pointer;
}

input[type='checkbox'] + label .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #2c2c2c;
  margin: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input[type='checkbox'] + label .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

input[type='checkbox'] + label .middle-bar {
  opacity: 1;
}

input[type='checkbox']:checked + label .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

input[type='checkbox']:checked + label .middle-bar {
  opacity: 0;
}

input[type='checkbox']:checked + label .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

@media (max-width: 550px) {
  input[type='checkbox']:not(:checked) ~ .nav-links {
    display: none;
  }
  input[type='checkbox']:checked ~ .nav-links {
    position: absolute;
    top: 3rem;
    bottom: 1rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 50vh;
  }
}

.pitch {
  padding: 100px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30rem 1fr;
      grid-template-columns: 30rem 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90vw;
  margin: 0px auto 0px auto;
}

@media (max-width: 786px) {
  .pitch {
    padding-top: 150px;
  }
}

@media (max-width: 626px) {
  .pitch {
    padding-top: 180px;
  }
}

@media (max-width: 550px) {
  .pitch {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .pitch {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 0px;
    text-align: center;
  }
}

.pitch article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  .pitch article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pitch figure img {
  width: 100%;
  background-size: cover;
}

.why-k2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 1fr;
      grid-template-columns: 1.1fr 1fr;
  margin: auto 0 110px 0;
  place-items: center;
}

@media (max-width: 768px) {
  .why-k2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

.why-k2 figure {
  margin-left: 0;
}

@media (max-width: 768px) {
  .why-k2 figure {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 650px) {
  .why-k2 figure {
    margin: 1rem 0;
  }
}

.why-k2 figure img {
  width: 100%;
}

.love-k2 {
  background-color: #f5f5f5;
  padding: 80px 0px;
}

.love-k2 h2 {
  text-align: center;
}

.love-k2 article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  margin: 50px auto;
  width: 100%;
  grid-gap: 35px;
  max-width: 950px;
}

@media (max-width: 650px) {
  .love-k2 article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.love-k2 article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.love-k2 article figure .image {
  max-width: 100%;
  min-width: 60px;
  margin-right: 25px;
  -webkit-box-shadow: rgba(159, 159, 159, 0.16) 0px 3px 29px 0px;
          box-shadow: rgba(159, 159, 159, 0.16) 0px 3px 29px 0px;
  border-radius: 8px;
}

.love-k2 article figcaption {
  font-weight: 500;
  color: #152c43;
}

.love-k2 p {
  text-align: center;
}

.love-k2 p a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 500;
  color: #06a0ff;
}

.tech-stack, .available-widgets {
  padding: 80px 0px;
}

.tech-stack .stack-title, .available-widgets .stack-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 490px) {
  .tech-stack .stack-title, .available-widgets .stack-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tech-stack .stack-title h2, .available-widgets .stack-title h2 {
  margin: 0;
}

.tech-stack article, .available-widgets article {
  max-width: 1050px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-stack article figure, .available-widgets article figure {
  height: 113px;
  width: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
}

.help-supp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.1fr;
      grid-template-columns: 1fr 1.1fr;
  line-height: 1.81;
  letter-spacing: 0.21px;
  margin: auto 70px auto 70px;
}

@media (max-width: 768px) {
  .help-supp {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.help-supp article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .help-supp article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.help-supp .description {
  font-weight: 500;
}

.help-supp figure img {
  width: 100%;
}

.available-widgets {
  padding-bottom: 0px;
}

.available-widgets h1 {
  text-align: center;
}

.available-widgets nav {
  max-width: 870px;
  margin: auto;
}

.available-widgets nav ul {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 60px;
}

@media (max-width: 600px) {
  .available-widgets nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.available-widgets nav ul li {
  list-style: none;
}

.available-widgets nav ul li a {
  font-size: 18px;
  font-weight: 600;
}

.available-widgets article figure {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 15px 0 rgba(159, 159, 159, 0.2);
          box-shadow: 0 3px 15px 0 rgba(159, 159, 159, 0.2);
  cursor: pointer;
}

.available-widgets article figure:hover {
  -webkit-box-shadow: 0 3px 25px 0 rgba(159, 159, 159, 0.2);
          box-shadow: 0 3px 25px 0 rgba(159, 159, 159, 0.2);
  scale: 1.02;
  -webkit-transition: 0.2 ease-in-out;
  transition: 0.2 ease-in-out;
}

.visuals {
  padding-top: 5%;
}

@media (max-width: 980px) {
  .visuals {
    margin: auto 5%;
  }
}

.visuals h2 {
  font-size: 30px;
  text-align: center;
}

.visuals .container {
  max-width: 870px;
  margin: auto;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
  text-align: center;
}

.visuals .container section {
  height: 400px;
  min-width: 330px;
}

@media (max-width: 490px) {
  .visuals .container section article {
    min-height: 250px;
  }
}

.visuals .container .integrate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.visuals .container .integrate article {
  padding: 0 2%;
  z-index: 1;
  width: 400px;
  height: 226px;
  border-radius: 5px;
  border: solid 1px #06a0ff;
  background-color: #fff;
}

.visuals .container .integrate article .heading {
  font-size: 20px;
  color: #06a0ff;
  font-weight: 500;
}

.visuals .container .integrate article .description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.69;
  letter-spacing: 0.21px;
}

.visuals .container .request {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

@media (max-width: 980px) {
  .visuals .container .request {
    margin-top: -120px;
  }
}

.visuals .container .request article {
  z-index: 1;
  width: 400px;
  height: 226px;
  border-radius: 5px;
  border: solid 1px #ace556;
  background-color: #fff;
}

.visuals .container .request article .heading {
  font-size: 20px;
  color: #9dd845;
  font-weight: 500;
}

.visuals .container .request article .description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.69;
  letter-spacing: 0.21px;
}

.visuals .container .request .absolute-shape {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  left: 3%;
  right: 0;
}

@media (max-width: 510px) {
  .visuals .container .request .absolute-shape {
    left: 0;
  }
}

.absolute-shape {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 3%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 0;
}

@media (max-width: 510px) {
  .absolute-shape {
    right: 0;
  }
}

@media (max-width: 490px) {
  .absolute-shape {
    display: none;
  }
}

.roadmap h1 {
  text-align: center;
  padding-bottom: 20px;
}

.roadmap .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .roadmap .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.roadmap .container article {
  color: #fff;
  padding: 10%;
}

.roadmap .container article h3 {
  color: #fff;
  margin-left: 25px;
}

.roadmap .container article ul li {
  line-height: 1.81;
}

.roadmap .container .next {
  background-color: #06a0ff;
}

.roadmap .container .backlog {
  background-color: #152c43;
}

.pricing {
  margin-top: 147px;
  padding-bottom: 3%;
}

@media (max-width: 980px) {
  .pricing {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.pricing h1 {
  text-align: center;
}

.pricing .grid-container {
  max-width: 1000px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.pricing .grid-container article {
  min-width: 200px;
}

@media (max-width: 650px) {
  .pricing .grid-container article {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}

.pricing .grid-container article .heading {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2.78;
  background-color: #f8f8f8;
}

.pricing .grid-container article p {
  min-height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: solid 1px #d6d6d6;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 545px) {
  .pricing .grid-container article p {
    min-height: 70px;
  }
}

@media (max-width: 490px) {
  .pricing .grid-container article p {
    min-height: 100px;
  }
}

@media (max-width: 650px) {
  .pricing .grid-container article p {
    font-size: 14px;
  }
}

@media (max-width: 545px) {
  .pricing .grid-container article p {
    font-size: 12px;
  }
}

.pricing .grid-container article p:last-child {
  border-bottom: solid 1px #d6d6d6;
  padding: 0.5rem 0.7rem;
}

@media (max-width: 786px) {
  .pricing .grid-container article p:last-child {
    padding: 0;
  }
}

@media (max-width: 490px) {
  .pricing .grid-container article p:last-child {
    padding: 0;
    height: 80px;
  }
}

.pricing .grid-container article p:nth-child(11) {
  height: 72px;
}

@media (max-width: 650px) {
  .pricing .grid-container article p:nth-child(11) {
    height: 100px;
  }
}

@media (max-width: 400px) {
  .pricing .grid-container article p:nth-child(11) {
    height: 150px;
  }
}

.pricing .grid-container article p .buy-now-btn, .pricing .grid-container article p .view-demo-btn {
  min-width: 70px;
}

@media (max-width: 786px) {
  .pricing .grid-container article p .buy-now-btn, .pricing .grid-container article p .view-demo-btn {
    width: 70px;
    padding: 5px 10px;
    margin: 0;
  }
}

@media (max-width: 987px) {
  .pricing .grid-container article p .buy-now-btn, .pricing .grid-container article p .view-demo-btn {
    font-size: 14px;
    width: 70px;
    padding: 10px 10px;
    margin: 0;
  }
}

@media (max-width: 490px) {
  .pricing .grid-container article p .buy-now-btn, .pricing .grid-container article p .view-demo-btn {
    font-size: 12px;
    width: 60px;
    padding: 5px 10px;
    margin: 0;
  }
}

.pricing .grid-container .name p {
  border-right: none;
  place-items: center start;
  text-align: left;
  padding-left: 5%;
  line-height: 1.5;
}

.pricing .grid-container .name p:nth-child(11) {
  border-bottom: solid 1px #d6d6d6;
}

.pricing .grid-container .developer-lisence {
  min-width: 200px;
}

@media (max-width: 786px) {
  .pricing .grid-container .developer-lisence {
    min-width: 150px;
  }
}

@media (max-width: 545px) {
  .pricing .grid-container .developer-lisence {
    min-width: 100px;
  }
}

@media (max-width: 545px) {
  .pricing .grid-container .developer-lisence .heading {
    font-size: 14px;
  }
}

.pricing .grid-container .developer-lisence p {
  border-right: none;
}

.pricing .grid-container .enterprise-lisence {
  min-width: 200px;
}

@media (max-width: 786px) {
  .pricing .grid-container .enterprise-lisence {
    min-width: 150px;
  }
}

@media (max-width: 545px) {
  .pricing .grid-container .enterprise-lisence {
    min-width: 100px;
  }
}

@media (max-width: 545px) {
  .pricing .grid-container .enterprise-lisence .heading {
    font-size: 14px;
  }
}

.hidden {
  visibility: hidden;
  margin-bottom: -1px !important;
}

.get-in-touch h1 {
  text-align: center;
  margin-bottom: 0;
}

.get-in-touch .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5%;
}

@media (max-width: 768px) {
  .get-in-touch .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
  }
}

.get-in-touch .contact figure {
  width: 70%;
  margin: 2rem auto;
}

.get-in-touch .contact figure img {
  width: 100%;
}

.get-in-touch .contact form {
  width: 100%;
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'name name email email' 'msg msg msg msg' '. . . btn';
  grid-gap: 20px;
}

@media (max-width: 650px) {
  .get-in-touch .contact form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'name name name name' 'email email email email' 'msg msg msg msg' 'btn btn btn btn';
  }
  .get-in-touch .contact form input[type='text'] {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: name;
  }
  .get-in-touch .contact form input[type='email'] {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: email;
  }
  .get-in-touch .contact form textarea {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: msg;
  }
  .get-in-touch .contact form .buy-now-btn, .get-in-touch .contact form .view-demo-btn {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: btn;
  }
}

.get-in-touch .contact form input[type='text'] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.get-in-touch .contact form input[type='email'] {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: email;
}

.get-in-touch .contact form input {
  height: 50px;
  border-radius: 8px;
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
  padding-left: 3%;
}

.get-in-touch .contact form input::-webkit-input-placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form input:-ms-input-placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form input::-ms-input-placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form input::placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: msg;
  padding-top: 3%;
  padding-left: 3%;
  border-radius: 8px;
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
}

.get-in-touch .contact form textarea::-webkit-input-placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form textarea:-ms-input-placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form textarea::-ms-input-placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form textarea::placeholder {
  font-family: exo;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #b1b1b1;
}

.get-in-touch .contact form a {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: btn;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

footer {
  background: #152c43;
  height: 45vh;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: exo;
  font-size: 16px;
}

footer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  padding-top: 2%;
}

footer .flex-container .brand {
  margin-left: 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

@media (max-width: 768px) {
  footer .flex-container .brand {
    margin: 0;
  }
}

footer .flex-container .brand .k2-logo {
  height: 75px;
}

footer .flex-container .brand figcaption {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7px;
}

@media (max-width: 600px) {
  footer .flex-container .brand figcaption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .flex-container .brand p {
  margin-top: 0;
}

footer .flex-container .services {
  margin-right: 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  place-items: center start;
  grid-gap: 20px;
  position: relative;
}

@media (max-width: 600px) {
  footer .flex-container .services {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 420px) {
  footer .flex-container .services {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

footer .flex-container .services::after {
  position: absolute;
  content: '';
  left: -100px;
  height: 200%;
  width: 1px;
  background-color: #5c6774;
  margin: auto;
}

@media (max-width: 768px) {
  footer .flex-container .services::after {
    display: none;
  }
}

footer .flex-container .services a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 500;
  color: #fff;
}

footer .center {
  text-align: center;
  font-size: 13px;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Exo, sans-serif;
  color: #5c6774;
}

body {
  margin: 0;
  padding: 0;
}

.why-k2 {
  padding: 0px 50px;
}

.sub-heading {
  font-size: 20px;
  font-weight: 600;
  color: #152c43;
}

.view-demo-btn {
  border-radius: 8px;
  padding: 12px 50px;
}

.heading {
  font-size: 40px;
  color: #152c43;
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .heading {
    font-size: 30px;
  }
}

.description {
  line-height: 1.8;
}

.caption {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.nav-item {
  text-decoration: none;
  color: #5c6774;
  padding: 10px 20px;
}

.nav-item:hover {
  background-color: #ecf7ff;
  color: #06a0ff;
  border-radius: 4px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.active {
  background-color: #ecf7ff;
  color: #06a0ff;
  border-radius: 4px;
}

.buy-now-btn, .view-demo-btn {
  background: #06a0ff none repeat scroll 0% 0%;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
  text-transform: uppercase;
}

.buy-now-btn:hover, .view-demo-btn:hover {
  -webkit-box-shadow: rgba(6, 160, 255, 0.24) 0px 4px 10px 0px;
          box-shadow: rgba(6, 160, 255, 0.24) 0px 4px 10px 0px;
}
/*# sourceMappingURL=main.css.map */